* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.head {
  font-size: 50px;
  padding: 20px;

}

.head-slot {
  background: lightgray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slot-machine {
  text-align: center;
  border: 2px solid black;
  background: lightgreen;
  width: 400px;
  height: 500px;
  border-radius: 5px;
}

